<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="Admin UI.css">
    <title>DocTrack.com</title>
</head>
<body>
    <div class="head-container">
        <div class="header"><h2>DOCTRACKER</h2>
            <div class="admin-btn">
                <p>Admin &nbsp;<button><i class="fas fa-user-circle"></i></button></p>
                <div class="admin-content">
                    <a href="#">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
    <input type="checkbox" name="" id="check">
    <div class="sidebar-container">
      <label for="check">
        <span class="fas fa-times" id="times"></span>
        <span class="fas fa-bars" id="bars"></span>
      </label>
      <div class="head">Menu</div>
          <div class="import">
          <button type="button" class="import-btn">Import</button>
        </div>
          <div class="split-btn">
          <button type="button" class="export-btn" onclick="toggleExportOptions()">Export</button>
          <div id="exportOptions" class="dropdown">
            <button onclick="exportToPDF()">PDF</button>
            <button onclick="exportToWord()">Word</button>
          </div>
        </div>
    </div>
    <div class="main-container">
    <div class="grid-container">
        <main class="main-content">
          <div class="container"><h2>Total Documents</h2></div>
          <div class="container"><h2>Total Users</h2></div>
          <div class="container"></div>
          <div class="container"></div>
        </main>
        <div class="table-container">
          <table id="myTable">
            <thead>
              <tr>
                <th colspan="9">
                    <div class="table-header">
                        <div class="title">Document</div>
                        <div class="search-bar">
                            <input type="text" class="search-input" placeholder="Search" required/>
                            <i class="fas fa-search search-icon"></i>
                            <button class="clear-data-button">Clear Data</button>
                        </div>
                    </div>
                    <div class="table-scroll">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 300px;">File Name
                                        <button onclick="toggleFilter()" id="filterButton"><i class="fa fa-caret-down filter-icon"></i></button>
                                    </th>
                                    <th style="width: 150px;">Tags</th>
                                    <th style="max-width: 75px;">Created By</th>
                                    <th style="max-width: 75px;">Last Modified By</th>
                                    <th style="max-width: 50px;">Created</th>
                                    <th style="max-width: 50px;">Last Modified</th>
                                    <th style="width: 75px;">Version</th>
                                    <th style="max-width: 200px;">Version Notes</th>
                                    <th style="width: 50px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hello World</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="btn">
                                            <button class="ellipsis"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="ellipsis-ctn ctn-left-center-pos">
                                                <a href="#">Rename</a>
                                                <a href="#">Delete</a>
                                                <a href="#">File Info</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </th>
                </tr>
            </thead>
         </table>
        </div>
    </div>
</div>
</body>

<script>
    function toggleExportOptions() {
      var exportOptions = document.getElementById('exportOptions');
      if (exportOptions.style.display === 'block') {
        exportOptions.style.display = 'none';
      } else {
        exportOptions.style.display = 'block'
      }
    }

    var filterButton = document.getElementById('filterButton');
  var filterIcon = document.querySelector('.filter-icon');

  function toggleFilter() {
    if (filterIcon.classList.contains('up')) {
        filterIcon.classList.remove('up');
    } else {
        filterIcon.classList.add('up');
    }
  }

  </script>

</html>