
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@600&family=Roboto:wght@500;700&family=Wallpoet&display=swap');


body{
    height: 100vh;
    overflow: hidden;
    font-family: "Poppins";
  background: #303030;
}
.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #9AA4A7;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.10), 0 5px 5px 0 rgba(0, 0, 0, 0.40);
}
.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  
}
.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #BAFF39;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  font-weight: bolder;
}
.form button:hover,.form button:active,.form button:focus {
  background: #f2f2f2;
}

.text {
    font-family: 'Wallpoet', sans-serif;
    font-size: 37px;
    background: linear-gradient(90deg, green, #07bf76, #BAFF39,  white, #f2f2f2);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
      background-position: 0%;
  }

  100% {
      background-position: 400%;
  }
}

h3 {
    color: white;
    font-family: 'Poppins' sans-serif;
}

a {
    color: #BAFF39;
    font-weight: bolder;
  }