<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTS.com</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Login Form Admin.css">      
</head>
<body style="display: flex; align-items: center; justify-content: center;">
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="post">
                <h2 class="text">DOCTRACKER</h2>
                <h3>ADMINISTRATOR LOGIN</h3>
                <input type="text" placeholder="Username" required/>
                <input type="password" placeholder="Password" required/>
                <button type="submit" name="send2 ">login</button>
                <br>
                <br>
                <a href="Login Form User.html">User Login</a>
            </form>
        </div>
    </div>
</body>
</html>