{% extends "document_tracker/base.html" %}
{% block title %}Import File{% endblock %}

{% block content %}
<h1>Upload File</h1>

<form action="{% url 'document_tracker:import_file' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="uploaded_file">Import File:</label>
    <input type="file" id="uploaded_file" name="uploaded_file" required>

    <label for="file_name">File Name:</label>
    <input type="text" id="file_name" name="file_name" placeholder="Q3 Financial Report" required>

    <label for="version_notes">Version Notes:</label>
    <input type="text" id="version_notes" name="version_notes">

    <button type="submit">Upload</button>
</form>
{% endblock %}
