<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        {% load static %}
        <link rel="stylesheet" href="{% static 'document_tracker/font-awesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'document_tracker/index.css' %}">
        <title>DocTrack.com</title>
    </head>
    <body>
        <div class="container">
            <div class="header"><h2>DOCTRACKER</h2>
                <div class="user-btn">
                    <p>{{ user }} &nbsp;<button><i class="fas fa-user-circle"></i></button></p>
                    <div class="user-content">
                        <a href="{% url 'document_tracker:logout_view' %}">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>  
        <input class="menu" type="checkbox" name="" id="check">

        <div class="sidebar-container">
            <label for="check">
                <span class="fas fa-times" id="times"></span>
                <span class="fas fa-bars" id="bars"></span>
            </label>
            <div class="head"><h1>Menu</h1></div>
            <div class="import">
                <button onclick="location.href='/file/import'" type="button" class="import-btn">Import</button>
            </div>

        </div>

        <div class="table-container">
            <table id="myTable">
                <thead>
                    <tr>
                        <th colspan="9">
                            <div class="table-header">
                                <div class="title">Document</div>

                                {% if tag_list %}
                                <div class="filters filter-dropdown">
                                    <i class="fas fa-filter"></i>

                                <form class="tag-form filter-dropdown-content">
                                    <button class="filter-button" type="submit">filter</button>

                                    {% for tag in tag_list %}
                                    <div class="filter">
                                        <input type="checkbox" id="{{ tag.title }}" name="active-filters" value="{{ tag.title }}" 
                                        {% for filter in active_filters %}
                                        {% if tag.title == filter %}
                                        checked
                                        {% endif %}
                                        {% endfor %}>
                                        <label for="{{ tag.title }}">{{ tag.title }}</label>
                                    </div>
                                    {% endfor %}
                                <form>
                                </div>
                                {% endif %}


                                <div class="search-bar">
                                    <form>
                                        <input id="search" type="search" name="q" value="{{ query }}" class="search-input" placeholder="Search">
                                    </form>
                                    <i class="fas fa-search search-icon"></i>
                                </div>
                            </div>

                            <div class="table-scroll">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 300px;">
                                                <div>
                                                <p>File Name</p>
                                                <form>
                                                    <input type="hidden" name="q" value="{{ query }}">
                                                    {% for filter in active_filters %}
                                                        <input type="hidden" name="active-filters" value="{{ filter }}">
                                                    {% endfor %}

                                                    {% if sort_type == "file_name" %}
                                                        <button type="submit" name="sort" value="-file_name"><i class="fa fa-caret-up"></i></button>
                                                    {% elif sort_type == "-file_name" %}
                                                        <button type="submit" name="sort" value="file_name"><i class="fa fa-caret-down"></i></button>
                                                    {% else %}
                                                        <button class="passive" type="submit" name="sort" value="file_name"><i class="fa fa-caret-down"></i></button>
                                                    {% endif %}
                                                </form>
                                                </div>
                                            </th>
                                            <th style="width: 150px;">Tags</th>
                                            <th style="max-width: 75px;">
                                                <div>
                                                <p>Created By</p>
                                                <form>
                                                    <input type="hidden" name="q" value="{{ query }}">
                                                    {% for filter in active_filters %}
                                                        <input type="hidden" name="active-filters" value="{{ filter }}">
                                                    {% endfor %}

                                                    {% if sort_type == "created_by" %}
                                                        <button type="submit" name="sort" value="-created_by"><i class="fa fa-caret-up"></i></button>
                                                    {% elif sort_type == "-created_by" %}
                                                        <button type="submit" name="sort" value="created_by"><i class="fa fa-caret-down"></i></button>
                                                    {% else %} 
                                                        <button class="passive" type="submit" name="sort" value="created_by"><i class="fa fa-caret-down"></i></button>
                                                    {% endif %}
                                                </form>
                                                </div>
                                            </th>
                                            <th style="max-width: 75px;">
                                                <div>
                                                <p>Last Modified By</p>
                                                <form>
                                                    <input type="hidden" name="q" value="{{ query }}">
                                                    {% for filter in active_filters %}
                                                        <input type="hidden" name="active-filters" value="{{ filter }}">
                                                    {% endfor %}

                                                    {% if sort_type == "last_modified_by" %}
                                                        <button type="submit" name="sort" value="-last_modified_by"><i class="fa fa-caret-up"></i></button>
                                                    {% elif sort_type == "-last_modified_by" %}
                                                        <button type="submit" name="sort" value="last_modified_by"><i class="fa fa-caret-down"></i></button>
                                                    {% else %} 
                                                        <button class="passive" type="submit" name="sort" value="last_modified_by"><i class="fa fa-caret-down"></i></button>
                                                    {% endif %}
                                                </form>
                                                </div>
                                            </th>
                                            <th style="max-width: 50px;">
                                                <div>
                                                <p>Created</p>
                                                <form>
                                                    <input type="hidden" name="q" value="{{ query }}">
                                                    {% for filter in active_filters %}
                                                        <input type="hidden" name="active-filters" value="{{ filter }}">
                                                    {% endfor %}

                                                    {% if sort_type == "created_date" %}
                                                        <button type="submit" name="sort" value="-created_date"><i class="fa fa-caret-up"></i></button>
                                                    {% elif sort_type == "-created_date" %}
                                                        <button type="submit" name="sort" value="created_date"><i class="fa fa-caret-down"></i></button>
                                                    {% else %} 
                                                        <button class="passive" type="submit" name="sort" value="created_date"><i class="fa fa-caret-down"></i></button>
                                                    {% endif %}
                                                    </form>
                                                </div>
                                            </th>
                                            <th style="max-width: 50px;">
                                                <div> 
                                                <p>Last Modified</p>
                                                <form>
                                                    <input type="hidden" name="q" value="{{ query }}">
                                                    {% for filter in active_filters %}
                                                        <input type="hidden" name="active-filters" value="{{ filter }}">
                                                    {% endfor %}

                                                    {% if sort_type == "last_modified_date" %}
                                                        <button type="submit" name="sort" value="-last_modified_date"><i class="fa fa-caret-up"></i></button>
                                                    {% elif sort_type == "-last_modified_date" %}
                                                        <button type="submit" name="sort" value="last_modified_date"><i class="fa fa-caret-down"></i></button>
                                                    {% else %} 
                                                        <button class="passive" type="submit" name="sort" value="last_modified_date"><i class="fa fa-caret-down"></i></button>
                                                    {% endif %}
                                                </form>
                                                </div>
                                            </th>
                                            <th style="width: 75px;">Version</th>
                                            <th style="max-width: 200px;">Version Notes</th>
                                            <th style="width: 75px;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if file_list %}
                                        {% for file in file_list %}
                                        <tr>
                                            <td>{{ file.file_name }}</td>

                                            <td>
                                            {% for file_tag in file.tags.all %}
                                            <p>{{ file_tag.tag.title }}</p>
                                            {% endfor%}
                                            </td>

                                            <td>{{ file.created_by }}</td>
                                            <td>{{ file.last_modified_by }}</td>
                                            <td>{{ file.created_date }}</td>
                                            <td>{{ file.last_modified_date }}</td>
                                            <td>{{ file.version_number }}</td>
                                            <td>{{ file.version_notes }}</td>
                                            <td>
                                                <div class="btn-container">
                                                    <button onclick="location.href='/file/{{file.id}}/rename'"><i class="fas fa-edit lime-green-color"></i></button>
                                                    <button onclick="location.href='/file/{{file.id}}/delete'"><i class="fas fa-trash-alt red-color"></i></button>
                                                    <button onclick="location.href='/file/{{file.id}}'"><i class="fas fa-info-circle black-color"></i></button>
                                                </div>
                                            </td>
                                            {% endfor %}
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </body>
</html>

