<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
  <main class="container">
  <a href="{% url 'document_tracker:import_file' %}">Import</a>
    {% if file_list %}
    <ul>
      {% for file in file_list %}
      <div style="display:flex">
        <li>
          <a href="{% url 'document_tracker:export_file' file.id %}">{{ file.file_content }}</a>
          <p>created: {{ file.created_date }}</p>
          <p>modified: {{ file.last_modified_date }}</p>

          {% if file_tag_list %}
          <p> tags: </p>
          <ul>
            {% for file_tag in file_tag_list %}
            {% if file_tag.file == file %}
            <li>
              <p><mark>{{ file_tag.tag }}</mark></p>
              <form action="{% url 'document_tracker:remove_tag' file_tag.id %}" method="post">
              {% csrf_token %}
              <button class="primary outline" type="submit">Delete Tag</button>
              </form>
            </li>
            {% endif %}
            {% endfor %}

            {% endif %}
            <form action="{%url 'document_tracker:delete_file' file.id %}" method="post">
              {% csrf_token %}
              <button type="submit">Delete</button>
            </form>

            <form action="{%url 'document_tracker:detail' file.id %}" method="get">
              <button type="submit">Tag Settings</button>
            </form>
          </ul>
        </li>

      </div>
      {% endfor %}
    </ul>
    {% else %}
    <p>No Files are in storage</p>
    {% endif %}
  </main>
</body>

</html>