<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
<main class="container-fluid">

<div class="container">
<h3>Document Tracker</h3>
<input type="search" id="search" name="search" placeholder="2022 tags:financial">

<div class="grid">
  <a href="{% url 'document_tracker:import_file' %}" role="button">Import</a>
  <a href="{% url 'document_tracker:logout_view' %}" role="button">Logout</a>
  <a href="admin/" role="button">Admin Panel</a>
</div>
</div>
<hr>

    <figure>
      <table role="grid">
      <thead>
        <tr>
          <th>file name</th>
          <th>tags</th>
          <th>created by</th>
          <th>last edited by</th>
          <th>created date</th>
          <th>last modified date</th>
          <th>version</th>
          <th>version notes</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        {% if file_list %}
        {% for file in file_list %}
        <tr>
        
        <td>{{ file.file_name }}</td>

        <td>tags</td>
        
        <td>{{ file.created_by }}</td>
        <td>{{ file.last_modified_by }}</td>
        <td>{{ file.created_date }}</td>
        <td>{{ file.last_modified_date }}</td>
        <td>{{ file.version_number }}</td>
        <td>{{ file.version_notes }}</td>
        <td>
          <a href="{%url 'document_tracker:export_file' file.id %}" role="button">export</a>
          <a href="{%url 'document_tracker:detail' file.id %}" role="button">add tag</a>
          <a class="outline" href="{%url 'document_tracker:delete_file' file.id %}" role="button">delete</a>
        </td>
        </tr>
        {% endfor %}
        {% endif %}

      </tbody>
      </table>
    </figure>
  </main>
</body>

</html>